<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false">
    
    <testsuites>
        <testsuite name="CoreAccess Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="junit" target="test-results.xml"/>
    </logging>

    <php>
        <ini name="xdebug.mode" value="coverage"/>
        <ini name="xdebug.start_with_request" value="yes"/>
    </php>
</phpunit>  